<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
<a href="#installing_scrawl">Installing Scrawl</a><br/>
<a href="#Apps">Scrawl Apps</a><br/><br/>
<b>
<a name="installing_scrawl">
<h2> INSTALLING SCRAWL </h2>
</a>
</p></b>
Right now Scrawl is only compatible with the Mozilla Firefox browser.  This will change but for now, if you don't have Firefox please work with us and download it here:
<a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox Download Page</a>
It won't take you long and it will be worth it! :)
</p></p>
<i>Once you have Firefox, installing the Scrawl app is extremely fast...faster than downloading most mobile apps!  Around 5 seconds from start to finish.</i>
<p></p>
<ol>
	<li>
	hit download button. 
	</li><p></p>
	<li>
	The image below will appear.<br>
	<%= image_tag("firefox_allow.png", alt: "Firefox Allow Install", class: "round") %>
	<br> This is because Scrawl has not been authenticated by Mozilla who make the Firefox browser.  We will not abuse your trust. So...<br /><b>Please click ‘Allow </b><p></p>
	</li>
	<li>A progress bar will appear showing the status of the download.  ‘Scrawl’ is a small app so this will quickly disappear.<p></p><br />
	</li>
	<li>On completion of the download the following image will appear: <br />
	<%= image_tag("firefox_install_now.png", alt: "Firefox Install Now", class: "round") %>
	<br /> Once again this is Mozilla protecting your interests because they have not authenticated Scrawl.  <b>Click ‘Install Now’.</b><p></p>
	</li>
	<li>The Scrawl app is now on your computer ready to be installed.  The following image will appear. <br />
	<%= image_tag("firefox_restart_now.png", alt: "Firefox Restart", class: "round") %>
	<br> <b> Click ‘Restart Now’</b><p></p>
	</li>
	<li>
	Firefox will restart and you will quickly come back to this same screen with Scrawl installed and ready to go.
	</li>
</ul>
<p></p>
<p>So basically all you have to remember is to hit ‘download’, ‘allow’, ‘install now’, ‘restart now’</p>


<br /><p><b>

<a name="Apps">
<h2> WHAT ARE SCRAWL APPS? </h2>
</a>
<p></b>
Scrawl apps are little programs you work with to put scrawl on a web page.  So scrawl apps can do many different things:
<ul>
	<li>
		They can be as simple as clip art that are just dropped onto the page at the desired location.
	<li>
		They can be more sophisticated, such as the 'dislike button' or apps for changing and marking up photos.
</ul>
<br />
<h4> SOME SCRAWL APPS </h4>
</p>
<ul>
	<li>Speech Balloon	:	type what you want in it</li>
	<li>Thought Balloon	:	with audio clips you can play back</li>
	<li>Dislike Button  :	just like the 'like' button, but more fun </li>
	<li>Photo Blaster	:	put headers or footers on photos in the gallery</li>
</ul>
<br />
<h4> HOW DO APPS WORK? </h4>
</a>
</p></b>
All apps do the same thing in different ways.  They put content onto the page.  The content may be simple, like clip art, or more complicated, like a thought balloon with audio and it may only be allowed in certain places, like a profile picture, or it may be allowed anywhere on the page, but it all comes down to putting content on the page.
<p>
	