<div class="row">
  <div class="span12">
      <div class="row">
        <div class="span8">
          <section><%= render 'shared/profile_top_info' %></section>
        </div>
          <%= render 'follow_form' if signed_in? %>
        <div class="span4">
          <section><%= render 'shared/profile_rh_nav' %></section>
        </div>
      </div>
  </div>
</div>