<% provide(:title, @user.name) %>

<%= render 'shared/gen_profile_info' %>

<div class="row">
  <div class="span4">
    <section><%= render 'shared/profile_lh_nav' %></section>
  </div>
  <div class="span8">
    <% if @user.scrawls.any? %>
      <h3>Scrawls </h3>
      <ol class="scrawls">
        <%= render @scrawls %>
      </ol>
    <% end %>
  </div>
</div>

