<% provide(:title, 'Followers') %>

<%= render 'shared/gen_profile_info' %>

<div class="row">
  <div class="span4">
    <section><%= render 'shared/profile_lh_nav' %></section>
  </div>
  <div class="span8">
    <% if @users.any? %>
      <h3><%= yield(:title) %></h3>
      <ol class="users">
        <%= render @users %>
      </ol>
    <% end %>
  </div>
</div>