<div class="row">
  <div class="span12">
      <div class="row">
        <div class="span10">
          <section><%= render 'shared/profile_top_info' %></section>
        </div>

        <div class="span2">
          <section><%= render 'shared/profile_rh_nav' %></section>
        </div>
      </div>
  </div>
</div>