<ul class="nav nav-tabs nav-stacked">
  <li>
    <a href="<%= user_path(@user)%>">Scrawls 	></a>
  </li>
  <li>
    <a href="<%= following_user_path(@user)%>">Following 	></a>
  </li>
  <li>
    <a href="<%= followers_user_path(@user)%>">Followers 	></a>
  </li>
</ul>



