<% provide(:title, 'App') %>
<h1><%= @app.name %></h1>

<div class="row">
  <div class="span8 offset2"  >
    <%= image_tag @app.image_url %>
    <br /><br />
    <%= @app.longdescription %>
  </div>
</div>

